venv/
dist/
__pycache__
assets/
__pycache__/

.idea/
build/
icon.ico
holograma.spec

PIEZAS/PIEZA 18.obj
PIEZAS/PIEZA 19.obj
PIEZAS/PIEZA1.obj
PIEZAS/PIEZA10.obj
PIEZAS/PIEZA11.obj
PIEZAS/olla-matada.obj


PIEZAS/PIEZA17.obj